<ion-toolbar>
    <img src="assets/zezin.png" alt="">
</ion-toolbar>
<ion-content>
    <ion-grid>
        <ion-card>
            <ion-list>
                <ion-card-header class="cabecalho">
                    <strong>Gasto Final</strong>
                </ion-card-header>
                <ion-row>
                    <ion-col>
                        Produtos
                    </ion-col>
                    <ion-col>
                        Valor
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        {{gasto_final.nome_nitro}}
                    </ion-col>
                    <ion-col>
                        R$ {{gasto_final.valor_nitro}}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        {{gasto_final.nome_fosf}}
                    </ion-col>
                    <ion-col>
                        R$ {{gasto_final.valor_fosf}}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        {{gasto_final.nome_pota}}
                    </ion-col>
                    <ion-col>
                        R$ {{gasto_final.valor_pota}}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        Sementes
                    </ion-col>
                    <ion-col>
                        R$ {{gasto_final.sementes}}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        Calcário
                    </ion-col>
                    <ion-col>
                        R$ {{gasto_final.calcario}}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <strong>Total</strong>
                    </ion-col>
                    <ion-col>
                        <strong>R$ {{gasto_final.gasto_total}}</strong>
                    </ion-col>
                </ion-row>
            </ion-list>
        </ion-card>
        <ion-card>
            <ion-list>
                <ion-card-header class="cabecalho">
                    <strong>Expectativa</strong>
                </ion-card-header>
                <ion-row>
                    <ion-col>
                        Colheita
                    </ion-col>
                    <ion-col>
                        Valor
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        {{gasto_final.qtd_cultura}} Kg/ha
                    </ion-col>
                    <ion-col>
                        R$ {{gasto_final.venda}}
                    </ion-col>
                </ion-row>
            </ion-list>
        </ion-card>
        <ion-card>
            <ion-list>
                <ion-card-header id="lucro">
                    <strong>Lucratividade</strong>
                </ion-card-header>
                <ion-row>
                    <ion-col>
                        Preço de venda
                    </ion-col>
                    <ion-col>
                        R$ {{gasto_final.venda}}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        Gasto total
                    </ion-col>
                    <ion-col>
                        R$ {{gasto_final.gasto_total}}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <strong>Lucro</strong>
                    </ion-col>
                    <ion-col>
                        R$ {{gasto_final.lucro}}
                    </ion-col>
                </ion-row>
            </ion-list>
        </ion-card>
    </ion-grid>
    <ion-button size="large" id="avancar" (click)="home()">Inicio</ion-button>
</ion-content>
<ion-item class="a"></ion-item>