<ion-toolbar>
  <img src="assets/zezin.png" alt="">
</ion-toolbar>

<ion-content>
  <ion-grid>
    <h4>Sugestão de outra cultura</h4>
    <ion-card>
      <ion-list>
        <ion-card-header >
          <strong>Gasto Final Por Hectare</strong>
        </ion-card-header>
        <ion-row>
          <ion-col>
            Produtos
          </ion-col>
          <ion-col>
            Valor
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            sulfato de Amônio
          </ion-col>
          <ion-col>
            R$ 30
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            super Simples
          </ion-col>
          <ion-col>
            R$ 20
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            Cloreto de Potássio
          </ion-col>
          <ion-col>
            R$ 40
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            Sementes
          </ion-col>
          <ion-col>
            R$ 3
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            Calcário
          </ion-col>
          <ion-col>
            R$ 4
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <strong>Total</strong>
          </ion-col>
          <ion-col>
            <strong>R$ 100</strong>
          </ion-col>
        </ion-row>
      </ion-list>
    </ion-card>
    <ion-card>
      <ion-list>
        <ion-card-header >
          <strong>Expectativa</strong>
        </ion-card-header>
        <ion-row>
          <ion-col>
            Colheita
          </ion-col>
          <ion-col>
            Valor
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            100 Kg/ha
          </ion-col>
          <ion-col>
            R$ 300
          </ion-col>
        </ion-row>
      </ion-list>
    </ion-card>
    <ion-card>
      <ion-list>
        <ion-card-header >
          <strong>Lucratividade</strong>
        </ion-card-header>
        <ion-row>
          <ion-col>
            Preço de venda
          </ion-col>
          <ion-col>
            R$ 10
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            Gasto total
          </ion-col>
          <ion-col>
            R$ 200
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <strong>Lucro</strong>
          </ion-col>
          <ion-col>
            R$ 3000
          </ion-col>
        </ion-row>
      </ion-list>
    </ion-card>
  </ion-grid>

  <ion-button size="large" id="avancar" (click)="proximo()"><strong>Encerrar</strong></ion-button>

</ion-content>


<ion-item class="a"></ion-item>