#avancar{
    margin-left: 35%;
    --background:#0465d4;
}

.a{
    --ion-background-color:  #0465d4;
}
.bb{
    margin: 10px; 
    color: black;
}

h1{
    text-align: center;
}
ion-card{
    --ion-background-color: #dddcdc;
}
ion-col{
    color: #000000;
    padding-left: 5%;
    padding-bottom: 5%;
}
.cabecalho{
    color: #000000;
}
