#avancar{
    margin-left: 30%; 
    background-color: #0465d4;
   
}

.fundo{
    --background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxqfu58JZQh3N8WnjmOy50aFg_WK9iRQUZvw&usqp=CAU') 0 0/100% 100% no-repeat;
   
}

h1,h2{
    text-align: center;
    
}
img{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    

}
