<ion-toolbar>
  <img src="assets/zezin.png" alt="">
</ion-toolbar>

<ion-content>
  <ion-card>
    <div>
      <ion-item>
        <h5>Qual o valor do kg das sementes que serão ultizadas no plantio?</h5>
      </ion-item>
      <ion-item>
        <ion-label>Valor: R$</ion-label>
        <ion-input required type="number" [(ngModel)]="valor"></ion-input>
      </ion-item>
    </div>
    <div>
      <ion-item>
        <h5>Qual o valor do kg que você deseja vender?</h5>
      </ion-item>
      <ion-item>
        <ion-label>Valor: R$</ion-label>
        <ion-input required type="number" [(ngModel)]="valor_venda"></ion-input>
      </ion-item>
    </div>
    <div>
      <ion-item>
        <h5>Qual o valor do kg da fonte de Nitrogenio?</h5>
      </ion-item>
      <ion-item>
        <ion-label>Valor: R$</ion-label>
        <ion-input required type="number" [(ngModel)]="valor_nitro"></ion-input>
      </ion-item>
    </div>
    <div>
      <ion-item>
        <h5>Qual o valor do kg da fonte de Fósforo?</h5>
      </ion-item>
      <ion-item>
        <ion-label>Valor: R$</ion-label>
        <ion-input required type="number" [(ngModel)]="valor_fosf"></ion-input>
      </ion-item>
    </div>
    <div>
      <ion-item>
        <h5>Qual o valor do kg da Fonte de Potássio?</h5>
      </ion-item>
      <ion-item>
        <ion-label>Valor: R$</ion-label>
        <ion-input required type="number" [(ngModel)]="valor_pota"></ion-input>
      </ion-item>
    </div>
    <div>
      <ion-item>
        <h5>Qual o valor do tonelada de Calcário?</h5>
      </ion-item>
      <ion-item>
        <ion-label>Valor: R$</ion-label>
        <ion-input required type="number" [(ngModel)]="valor_calc"></ion-input>
      </ion-item>
    </div>
  </ion-card>
  <ion-button size="large" id="avancar" (click)="proximo()">Avançar</ion-button>
</ion-content>

<ion-item class="a"></ion-item>